 <div class="genrekara" style="font-size :20px;" >
      項目
    </div>

    <table class="table table-bordered table-hover text-center ec-genre-list" >
     
        <tr>
          <td>
            <li class="nav-item"><%= link_to "新規登録", new_customer_registration_path, class: 'btn btn-outline-secondary mx-3 my-1'  %></li>
            <li class="nav-item"><%= link_to "会員ログイン", new_customer_session_path, class: 'btn btn-outline-secondary mx-3 my-1'  %></li>
            <li class="nav-item"><%= link_to "管理者用", new_admin_session_path, class: 'btn btn-outline-secondary mx-3 my-1'  %></li>
            </td>
        </tr>
    </table>