<h1>臨床工学技士とは</h1>
<div class="col-xs-9 col-xs-offset-1">
臨床工学技士はメディカルスタッフの一職種であり、現在の医療に不可欠な医療機器のスペシャリストです。 
今後益々増大する医療機器の安全確保と有効性維持の担い手としてチーム医療に貢献しています。
</div>

<h2>概要</h2>
<div class="col-xs-9 col-xs-offset-1">
ここでは、自身の職場だけでなく様々な臨床工学技士の方とコミュニケーションをとることのできるサイトです。
</div>