<div class="container takasa">
  <div class="row">
    <h2>管理者画面</h2>
  </div>
  

    <%= link_to "会員一覧", admin_customers_path, class:  "btn btn-success" %>
  
    <%= link_to "投稿一覧", admin_articles_path, class:  "btn btn-success" %>

</div>